.p2{
    color:blue;
    font-family: cursive;
    text-decoration: underline;
    text-transform: lowercase;
    font-size: 1.5rem;
}
.p1{
    color: gold;
    font-family:cursive;
    font-size: 2.5rem;
    text-decoration: line-through;
    text-transform: uppercase;
}
.P1{
   text-transform: capitalize; 
   text-shadow: 2px 20px 2px magenta;
}